In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
folder ='data/research/'

orderbook = pd.read_csv(folder + 'orderbook' + '.csv.gz')
liquidations = pd.read_csv(folder + 'liquidations' + '.csv.gz')
ticker = pd.read_csv(folder + 'ticker' + '.csv.gz')
trades = pd.read_csv(folder + 'trades' + '.csv.gz')

In [4]:
orderbook.head()

,exchange,symbol,timestamp,local_timestamp,is_snapshot,side,price,amount
0,binance-futures,BTCUSDT,1759968000482000,1759968001025200,True,ask,123237.5,1.291
1,binance-futures,BTCUSDT,1759968000482000,1759968001025200,True,ask,123237.6,0.014
2,binance-futures,BTCUSDT,1759968000482000,1759968001025200,True,ask,123237.7,0.002
3,binance-futures,BTCUSDT,1759968000482000,1759968001025200,True,ask,123238.1,0.002
4,binance-futures,BTCUSDT,1759968000482000,1759968001025200,True,ask,123238.3,0.001

In [6]:
liquidations.head()

,exchange,symbol,timestamp,local_timestamp,id,side,price,amount
0,binance-futures,BTCUSDT,1759968349383000,1759968349388254,NaN,sell,122606.8,0.251
1,binance-futures,BTCUSDT,1759968401441000,1759968401447062,NaN,sell,122574.1,0.016
2,binance-futures,BTCUSDT,1759968411189000,1759968411194912,NaN,sell,122568.2,0.016
3,binance-futures,BTCUSDT,1759968459454000,1759968459459846,NaN,sell,122537.9,0.112
4,binance-futures,BTCUSDT,1759968469298000,1759968469303313,NaN,sell,122489.6,0.011

In [7]:
ticker.head()

,exchange,symbol,timestamp,local_timestamp,funding_timestamp,funding_rate,predicted_funding_rate,open_interest,last_price,index_price,mark_price
0,binance-futures,BTCUSDT,1759968000000000,1759968000035628,1.759968e+15,0.000013,NaN,NaN,NaN,123306.570435,123237.942326
1,binance-futures,BTCUSDT,1759968001000000,1759968001029571,1.759997e+15,0.000013,NaN,NaN,NaN,123306.726304,123238.098196
2,binance-futures,BTCUSDT,1759968001000000,1759968001073853,1.759997e+15,0.000013,NaN,NaN,123237.5,123306.726304,123238.098196
3,binance-futures,BTCUSDT,1759968003004000,1759968003031597,1.759997e+15,0.000013,NaN,NaN,123237.5,123306.990435,123253.400000
4,binance-futures,BTCUSDT,1759968003024000,1759968003075613,1.759997e+15,0.000013,NaN,NaN,123253.3,123306.990435,123253.400000

In [8]:
trades.head()

,exchange,symbol,timestamp,local_timestamp,id,side,price,amount
0,binance-futures,BTCUSDT,1759968000033000,1759968000036203,6696765297,sell,123237.4,0.002
1,binance-futures,BTCUSDT,1759968000039000,1759968000042704,6696765298,buy,123237.5,0.003
2,binance-futures,BTCUSDT,1759968000070000,1759968000073088,6696765299,buy,123237.5,0.007
3,binance-futures,BTCUSDT,1759968000070000,1759968000073088,6696765300,buy,123237.5,0.013
4,binance-futures,BTCUSDT,1759968001207000,1759968001216247,6696765301,buy,123237.5,0.021